#-------------------#
<homogenization>
#-------------------#

[SX]
mech	none
thermal  isothermal   # isothermal, adiabatic, conduction
t0       1323.000000  # fitting data to datasets in 150076_72xx_HSM_conditions{1}.doc

#-------------------#
<phase>
#-------------------#
[low_alloy_steel] #---------------------------------------------------------------------------------
elasticity	hooke
plasticity	dislotwin

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                accumulatedshear_slip
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                accumulatedshear_twin

# only for HDF5 out
(output) orientation    # quaternion
(output) F              # deformation gradient tensor
(output) Fe             # elastic deformation gradient tensor
(output) Fp             # plastic deformation gradient tensor
(output) P              # first Piola-Kichhoff stress tensor
(output) Lp             # plastic velocity gradient tensor


lattice_structure	fcc
c11	80.0e9
c12	62.0e9
c44	77.0e9    #the values in Hutchinson paper seem to give high G compared to G from Peter van Liempt
grainsize	2.0e-5
solidsolutionstrength	1.5e8
nslip	12
slipburgers	2.56e-10
rhoedgedip0	1.0e10  # originally 1E12 but values in range of 1E10-1E11 lower the yeild point significantly
rhoedge0	1.0e10  #originally 1E12 but lower values lower the yeild point by around 10 MPa
v0	1.0e5  #in range of 1E3-1E4 physically increasing this reduces the flow stress a bit
qedge	4.5e-19
b	0.01   #lower values reduce the yeild point somehow 
p_slip  0.32	
q_slip	1.46
clambdaslip	60.0  #originally 10 this has a big influence on flow stress, not so much on yield point
d0	4.0e-5
qsd	4.0e-19    #originally 4.8E-19   has a very strong effect on the flow stress
omega   750.0     # originally 100
catomicvolume	1.0
cedgedipmindistance	8.0    # originally 1. Higher values reduce the flow stress significantly
atol_rho	1.0
interaction_slipslip	0.122 0.122 0.625 0.07 0.137 0.122
shearbandresistance	180e6
shearbandvelocity	0e-4      #VS: shearbandig turned off by making velocity 0
qedgepersbsystem	3.7e-19
p_shearband	1.0
q_shearband	1.0
ntwin	0       #VS: twinning turned off by making ntwin 0
twinburgers	1.47e-10
twinsize	5.0e-8
l0_twin	442.0
maxtwinfraction	1.0
xc_twin	1.0e-9
vcrossslip	1.67e-29
r_twin	10.0
cmfptwin	1.0
cthresholdtwin	1.0
interaction_sliptwin	0.0 1.0 1.0
interaction_twinslip	0.0
interaction_twintwin	0.0 1.0
atol_twinfrac	1.0e-7
sfe_0k	-0.0396
dsfe_dt	0.0002
trans_lattice_structure	bcc
ntrans	0       #VS: martensite formation turned off by making ntrans 0
a_fcc	3.6800
a_bcc	2.8665
cnuc	1.0
cdwp	0.0
cgro	1.0e-10
deltag	-150e6
lamellarsize	100.0e-9
atol_transfrac	1.0e-6
transburgers	2.56e-10
l0_trans	442.0
interaction_transtrans	0.0 0.0
interaction_transslip	0.0
interaction_sliptrans	0.0 0.0 0.0

{2D.geom}
##-------------------#
#<microstructure>
##-------------------#
#[Grain01]
#(constituent)  phase 1   texture 01   fraction 1.0
#[Grain02]
#(constituent)  phase 1   texture 02   fraction 1.0
#[Grain03]
#(constituent)  phase 1   texture 03   fraction 1.0
#[Grain04]
#(constituent)  phase 1   texture 04   fraction 1.0
#[Grain05]
#(constituent)  phase 1   texture 05   fraction 1.0
#[Grain06]
#(constituent)  phase 1   texture 06   fraction 1.0
#[Grain07]
#(constituent)  phase 1   texture 07   fraction 1.0
#[Grain08]
#(constituent)  phase 1   texture 08   fraction 1.0
#[Grain09]
#(constituent)  phase 1   texture 09   fraction 1.0
#[Grain10]
#(constituent)  phase 1   texture 10   fraction 1.0
#[Grain11]
#(constituent)  phase 1   texture 11   fraction 1.0
#[Grain12]
#(constituent)  phase 1   texture 12   fraction 1.0
#[Grain13]
#(constituent)  phase 1   texture 13   fraction 1.0
#[Grain14]
#(constituent)  phase 1   texture 14   fraction 1.0
#[Grain15]
#(constituent)  phase 1   texture 15   fraction 1.0
#[Grain16]
#(constituent)  phase 1   texture 16   fraction 1.0
#[Grain17]
#(constituent)  phase 1   texture 17   fraction 1.0
#[Grain18]
#(constituent)  phase 1   texture 18   fraction 1.0
#[Grain19]
#(constituent)  phase 1   texture 19   fraction 1.0
#[Grain20]
#(constituent)  phase 1   texture 20   fraction 1.0
#
#
##-------------------#
#<texture>
##-------------------#
#[Grain01]
#(gauss)  phi1 0.0    Phi 0.0    phi2 0.0
#[Grain02]
#(gauss)  phi1 257.468172    Phi 53.250534    phi2 157.331503
#[Grain03]
#(gauss)  phi1 216.994815    Phi 94.418518    phi2 251.147231
#[Grain04]
#(gauss)  phi1 196.157946    Phi 55.870978    phi2 21.68117
#[Grain05]
#(gauss)  phi1 152.515728    Phi 139.769395    phi2 240.036018
#[Grain06]
#(gauss)  phi1 232.521881    Phi 73.749222    phi2 241.429633
#[Grain07]
#(gauss)  phi1 157.531396    Phi 135.503513    phi2 75.737722
#[Grain08]
#(gauss)  phi1 321.03828    Phi 27.209843    phi2 46.413467
#[Grain09]
#(gauss)  phi1 346.918594    Phi 87.495569    phi2 113.554206
#[Grain10]
#(gauss)  phi1 138.038947    Phi 99.827132    phi2 130.935878
#[Grain11]
#(gauss)  phi1 285.021014    Phi 118.092004    phi2 205.270837
#[Grain12]
#(gauss)  phi1 190.402171    Phi 56.738068    phi2 157.896545
#[Grain13]
#(gauss)  phi1 204.496042    Phi 95.031265    phi2 355.814582
#[Grain14]
#(gauss)  phi1 333.21479    Phi 82.133355    phi2 36.736132
#[Grain15]
#(gauss)  phi1 25.572981    Phi 164.242648    phi2 75.195632
#[Grain16]
#(gauss)  phi1 31.366548    Phi 76.392403    phi2 58.071426
#[Grain17]
#(gauss)  phi1 7.278623    Phi 77.044663    phi2 235.118997
#[Grain18]
#(gauss)  phi1 299.743144    Phi 76.475096    phi2 91.184977
#[Grain19]
#(gauss)  phi1 280.13643    Phi 27.439718    phi2 167.871878
#[Grain20]
#(gauss)  phi1 313.204373    Phi 68.676053    phi2 87.993213
